In [1]:
import pandas as pd

In [2]:
# Read the file removing bad lines
file = "static/data/books.csv"
df = pd.read_csv(file,error_bad_lines=False)
df.head()

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [3]:
# Get only those columns wew want
print(df.columns)
df = df[["bookID","title","authors","average_rating","isbn","isbn13","  num_pages","ratings_count","text_reviews_count","publication_date"]]
df.rename(columns={"  num_pages":"num_pages"}, inplace=True)

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [4]:
# Review encoding****
#df["authors"] = df["authors"].str.encode('iso-8859-1').str.decode('utf8')
#df.head(200)

In [5]:
# Sort df based on ratings_count and assing proper data type
df["ratings_count"] = df["ratings_count"].astype('float')
df["average_rating"] = df["average_rating"].astype('float')
df["num_pages"] = df["num_pages"].astype('float')
df["text_reviews_count"] = df["text_reviews_count"].astype('float')
df.sort_values(by=["ratings_count"], inplace=True)

In [6]:
# keep one single book per title
df = df.drop_duplicates(['title'], keep='first')
df.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,10348.000000,10348.000000,1.034800e+04,10348.000000,1.034800e+04,10348.000000
mean,21693.020680,3.932598,9.758319e+12,331.982026,1.266958e+04,426.281794
std,13052.612815,0.357278,4.592278e+11,239.024000,8.500493e+04,2153.872316
min,2.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10777.500000,3.770000,9.780345e+12,192.000000,9.400000e+01,8.000000
50%,21277.500000,3.960000,9.780614e+12,293.000000,6.670000e+02,42.000000
75%,32361.750000,4.140000,9.780880e+12,409.000000,4.440000e+03,208.250000
max,45641.000000,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

In [7]:
# Add category field for future references in Google API
df["category"] = ""
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,num_pages,ratings_count,text_reviews_count,publication_date,category
9847,39580,The American Campaign: U.S. Presidential Campa...,James E. Campbell,5.0,089096940X,9780890969403,314.0,0.0,0.0,5/1/2000,
7634,29404,Your Child and Jesus: A Family Activity Book,Rick Osborne/Kevin Miller,0.0,080242855X,9780802428554,112.0,0.0,0.0,9/13/1999,
10917,44705,The Leadership Challenge: Skills for Taking Ch...,Warren G. Bennis,0.0,088684049X,9780886840495,60.0,0.0,0.0,12/1/1985,
3492,12712,Brodie's notes on Aldous Huxley's brave new world,Graham Handley,0.0,0333581296,9780333581292,71.0,0.0,0.0,8/20/1992,
10442,42489,After Collapse: The Regeneration of Complex So...,Glenn M. Schwartz,4.0,0816525099,9780816525096,336.0,0.0,0.0,5/25/2006,

In [8]:
# Export to csv in data folder
# Modify to store ir directly in mongo *******
df.to_csv('static/data/books_cleaned.csv',header=True)